.App {
  margin: 0;
  padding: 0;

}

.header {
  width: 100%;
}

.header a {
  color: white;
}

.header ul {
  background: #1F568B;
  list-style-type: none;
  text-align: center;
}

.header li {
  color: #f1f1f1;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}